
<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <h3>Personajes</h3>
    <hr>
    <div class="col">
        <ul>
            <li>Krilin - 700</li>
            <li>Goku - 17000</li>
            <li>Vegeta - 16500</li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>    
        <hr>

        <form>

            <input type="text" placeholder="Nombre">
            <input type="number" placeholder="Poder">

            <button>
                Agregar
            </button>
        </form>
    </div>

</div>